In [1]:
import pandas as pd
import numpy as np
import os

from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
source = 'source/FoodBalanceSheets_E_All_Data_(Norm).zip'

In [4]:
data = pd.read_csv(source, encoding='latin-1')

In [5]:
data.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,351,China,2501,Population,511,Total Population - Both sexes,1961,1961,1000,675173.0,A
1,351,China,2501,Population,511,Total Population - Both sexes,1962,1962,1000,686277.0,A
2,351,China,2501,Population,511,Total Population - Both sexes,1963,1963,1000,698324.0,A
3,351,China,2501,Population,511,Total Population - Both sexes,1964,1964,1000,712071.0,A
4,351,China,2501,Population,511,Total Population - Both sexes,1965,1965,1000,728010.0,A

In [6]:
data.Element.unique()

array(['Total Population - Both sexes', 'Production', 'Import Quantity',
       'Stock Variation', 'Export Quantity', 'Domestic supply quantity',
       'Feed', 'Seed', 'Waste', 'Processing', 'Other uses', 'Food',
       'Food supply quantity (kg/capita/yr)',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)'], dtype=object)

In [32]:
data['concept_name'] = data['Item'] + ': ' + data['Element']

In [35]:
# country

In [38]:
country = data[['Country Code', 'Country']].drop_duplicates().copy()

In [39]:
country.columns = ['country', 'name']

In [41]:
country.to_csv('../ddf--entities--country.csv', index=False)

In [ ]:
# items

In [60]:
item = data[['Item Code', 'Item']].drop_duplicates().copy()

In [61]:
item.columns = ['item', 'name']

In [65]:
item[item['name'].str.contains('Total')]

       item         name
59307  2901  Grand Total

In [83]:
item.to_csv('../ddf--entities--item.csv', index=False)

In [42]:
# concepts

In [68]:
concs = data['Element'].unique()

In [69]:
cdf = pd.DataFrame([],columns=['concept', 'name', 'concept_type'])

In [70]:
cdf['name'] = ['Name', 'Country', 'Item', 'Year', *concs]

In [71]:
cdf['concept'] = cdf['name'].map(to_concept_id)

In [72]:
cdf.concept_type = 'measure'

cdf.loc[0, 'concept_type'] = 'string'
cdf.loc[1, 'concept_type'] = 'entity_domain'
cdf.loc[2, 'concept_type'] = 'entity_domain'
cdf.loc[3, 'concept_type'] = 'time'

In [73]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [74]:
cdf

,concept,name,concept_type
0,name,Name,string
1,country,Country,entity_domain
2,item,Item,entity_domain
3,year,Year,time
4,total_population_both_sexes,Total Population - Both sexes,measure
5,production,Production,measure
6,import_quantity,Import Quantity,measure
7,stock_variation,Stock Variation,measure
8,export_quantity,Export Quantity,measure
9,domestic_supply_quantity,Domestic supply quantity,measure
10,feed,Feed,measure
11,seed,Seed,measure
12,waste,Waste,measure
13,processing,Processing,measure
14,other_uses,Other uses,measure
15,food,Food,measure
16,food_supply_quantity_kg_capita_yr,Food supply quantity (kg/capita/yr),measure
17,food_supply_kcal_capita_day,Food supply (kcal/capita/day),measure
18,protein_supply_quantity_g_capita_day,Protein supply quantity (g/capita/day),measure
19,fat_supply_quantity_g_capita_day,Fat supply quantity (g/capita/day),measure

In [76]:
data_ = data[['Country Code', 'Item Code', 'Element', 'Year Code', 'Value']]

In [78]:
gs = data_.groupby('Element').groups

In [82]:
for k, idx in gs.items():
    cid = to_concept_id(k)
    df = data_.ix[idx].copy()
    df = df.drop('Element', axis=1)
    df.columns = ['country', 'item', 'year', cid]
    
    path = '../ddf--datapoints--{}--by--country--item--year.csv'.format(cid)
    df.to_csv(path, index=False)

In [84]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"country,item,year",domestic_supply_quantity,ddf--datapoints--domestic_supply_quantity--by-...
0,"country,item,year",export_quantity,ddf--datapoints--export_quantity--by--country-...
0,"country,item,year",fat_supply_quantity_g_capita_day,ddf--datapoints--fat_supply_quantity_g_capita_...
0,"country,item,year",feed,ddf--datapoints--feed--by--country--item--year...
0,"country,item,year",food,ddf--datapoints--food--by--country--item--year...
0,"country,item,year",food_supply_kcal_capita_day,ddf--datapoints--food_supply_kcal_capita_day--...
0,"country,item,year",food_supply_quantity_kg_capita_yr,ddf--datapoints--food_supply_quantity_kg_capit...
0,"country,item,year",import_quantity,ddf--datapoints--import_quantity--by--country-...
0,"country,item,year",other_uses,ddf--datapoints--other_uses--by--country--item...
0,"country,item,year",processing,ddf--datapoints--processing--by--country--item...
0,"country,item,year",production,ddf--datapoints--production--by--country--item...
0,"country,item,year",protein_supply_quantity_g_capita_day,ddf--datapoints--protein_supply_quantity_g_cap...
0,"country,item,year",seed,ddf--datapoints--seed--by--country--item--year...
0,"country,item,year",stock_variation,ddf--datapoints--stock_variation--by--country-...
0,"country,item,year",total_population_both_sexes,ddf--datapoints--total_population_both_sexes--...
0,"country,item,year",waste,ddf--datapoints--waste--by--country--item--yea...
0,country,name,ddf--entities--country.csv
0,item,name,ddf--entities--item.csv

In [17]:
import ddf_utils.ddf_reader as ddf

In [18]:
ddf.SEARCH_PATH = '../../'

In [19]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'food_supply_kilocalories_per_person_and_day')\
.query('geo == "afg"')

      food_supply_kilocalories_per_person_and_day  geo  time
0                                            2234  alb  1961
1                                            2248  alb  1962
2                                            2163  alb  1963
3                                            2276  alb  1964
4                                            2258  alb  1965
5                                            2259  alb  1966
6                                            2266  alb  1967
7                                            2346  alb  1968
8                                            2408  alb  1969
9                                            2419  alb  1970
10                                           2366  alb  1971
11                                           2395  alb  1972
12                                           2445  alb  1973
13                                           2513  alb  1974
14                                           2522  alb  1975
15                                           2716  alb  1976
16                                           2819  alb  1977
17                                           2737  alb  1978
18                                           2660  alb  1979
19                                           2660  alb  1980
20                                           2748  alb  1981
21                                           2692  alb  1982
22                                           2841  alb  1983
23                                           2759  alb  1984
24                                           2608  alb  1985
25                                           2739  alb  1986
26                                           2552  alb  1987
27                                           2647  alb  1988
28                                           2630  alb  1989
29                                           2656  alb  1990
...                                           ...  ...   ...
7517                                         2278  zwe  1978
7518                                         2249  zwe  1979
7519                                         2290  zwe  1980
7520                                         2217  zwe  1981
7521                                         2223  zwe  1982
7522                                         2183  zwe  1983
7523                                         2132  zwe  1984
7524                                         2086  zwe  1985
7525                                         2054  zwe  1986
7526                                         2015  zwe  1987
7527                                         2049  zwe  1988
7528                                         2048  zwe  1989
7529                                         2022  zwe  1990
7530                                         1981  zwe  1991
7531                                         1947  zwe  1992
7532                                         1924  zwe  1993
7533                                         1941  zwe  1994
7534                                         1913  zwe  1995
7535                                         1944  zwe  1996
7536                                         1966  zwe  1997
7537                                         1972  zwe  1998
7538                                         1953  zwe  1999
7539                                         1960  zwe  2000
7540                                         2009  zwe  2001
7541                                         2073  zwe  2002
7542                                         2107  zwe  2003
7543                                         2135  zwe  2004
7544                                         2170  zwe  2005
7545                                         2214  zwe  2006
7546                                         2238  zwe  2007

[7547 rows x 3 columns]